<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam placerat, dui non pharetra ornare, ipsum massa lobortis risus, vel faucibus neque ex finibus tortor. 
            Nulla placerat euismod magna id lobortis. Maecenas molestie, orci ac tincidunt porttitor, diam ipsum vehicula eros, sit amet elementum justo sem sed risus. 
            Integer pharetra, tellus non pellentesque venenatis, erat sapien aliquet ante, non faucibus nunc tortor in leo. Vestibulum vestibulum lacus odio, ut varius eros dapibus luctus. 
            Mauris efficitur tempor pulvinar. Aliquam erat volutpat. Nullam luctus risus at tristique finibus. Nulla ipsum lectus, volutpat ac diam ut, tristique blandit orci. Integer lacinia
             sollicitudin dui at.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>