<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="home content">
        <h2>A simple website to post your blogs</h2>
        <div class="landing-logo"><img src="/undraw_blogging_vpvv.svg"></div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>